[submodule "PyTorch-GAN"]
	path = PyTorch-GAN
	url = https://github.com/eriklindernoren/PyTorch-GAN
[submodule "Pytorch-GAN"]
	path = Pytorch-GAN
	url = https://github.com/eriklindernoren/PyTorch-GAN.git
